@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Securing Microservices with IdentityServer4, OAuth2 and OpenID Connect fronted by Ocelot API Gateway</h1>

<p>
    As a part of the requirements for a real enterprise project, I needed to develop a PoC Solution which was dealing with securing microservices using Identity Server 4 with Ocelot API Gateway. This solution was made out of
    four main projects which communicate with each other.  
</p>

<ul>
    <li>API</li>
    <li>MVC Client Application</li>
    <li>Identity Server</li> 
    <li>Ocelot Api Gateway</li>
</ul>